body {
  min-width: 960px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000;
}

h1 {
  font-family: PT Sans Narrow, "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-weight: 700;
}

h2 {
  font-family: PT Sans Narrow, "Arial", sans-serif;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: 700;
}

.main-body {
  background: #000000 url("../img/back-index.jpg") no-repeat;
  background-position: center 7px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block;
  padding: 33px 20px 27px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 33px 20px 27px 50px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 18px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -182px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.index-logo img {
  width: 368px;
  height: 204px;
  padding-left: 6px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-name {
  position: relative;
  display: block;
  padding-bottom: 32px;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-item:last-child {
  margin-right: 0;
}

.features {
  margin-bottom: 78px;
}

.index-content {
  padding: 45px 80px;
  padding-left: 82px;
  padding-bottom: 50px;
  margin-bottom: 35px;
  color: #000000;
  background: url("../img/index-content-shadow.png") no-repeat center,
  #f8f5f2 url("../img/back-main.jpg");
}

.index-content h2 {
  margin-bottom: 20px;
}

.index-content img {
  margin-top: 2px;
  margin-left: 1px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content .index-content-left p:nth-child(3) {
  margin-bottom: 22px;
}

.index-content .index-content-left a.btn:nth-child(4) {
  padding-left: 30px;
  padding-right: 31px;
}

.index-content .index-content-left a.btn:nth-child(5) {
  padding-left: 26px;
  padding-right: 25px;
}

.index-content-right h2 {
  margin-left: 3px;
}

.index-content .index-content-right p {
  margin-left: 3px;
}

.index-content-title {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 25px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.index-content p:nth-child(2) {
  margin-bottom: 20px;
}

.news-preview {
  padding: 0;
  margin: 0;
  padding-right: 35px;
  margin-bottom: 29px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 21px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  margin-right: 16px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  cursor: pointer;
}

.btn:first-child {
  margin-left: 2px;
  margin-top: 8px;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: -2px;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form {
  margin-top: 23px;
}

.appointment-form input {
  float: left;
  width: 106px;
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.appointment-form .btn:focus {
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
  outline: none;
}

.main-footer {
  margin-top: 65px;
  padding-top: 58px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/back-footer.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-left: 1px;
  margin-right: 61px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  background: #000000 url("../img/sprite.png") no-repeat;
  font-size: 0;
  text-decoration: none;
  transition:
   background-position 0.5s,
   background-color 0.5s;
}

.social-btn-vk {
  background-position: 4px -118px;
}

.social-btn-vk:hover {
  background-position: 4px -144px;
}

.social-btn-fb {
  background-position: 10px 5px;
}

.social-btn-fb:hover {
  background-position: 10px -27px;
}

.social-btn-inst {
  background-position: 7px -59px;
}

.social-btn-inst:hover {
  background-position: 7px -90px;
}

.social-btn:hover {
  background-color: #ffffff;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright a.btn {
  margin-right: 0;
  padding-right: 20px;
  padding-left: 24px;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/*Далее только вторая страница shop.html*/
.shop-body {
  color: #000000;
  background: #fbf8f5 url("../img/back-main.jpg");
}

.shop-header {
  margin-bottom: 49px;
  color: #ffffff;
  background-color: #000000;
}

.active-navigation {
  cursor: pointer;
}

.active-navigation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    display: block;
    height: 4px;
    background-color: #ffffff;
}

.active-navigation:hover::after {
  display: none;
}

.logo a{
  padding: 31px 20px 20px 20px;
}

.logo a:hover {
  background-color: #000000;
}

.shop-header .login {
  padding-bottom: 26px;
}

.breadcrumbs {
  margin-bottom: 45px;
}

.breadcrumbs h2 {
  margin-left: -1px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -8px;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  padding-left: 40px;
}

.breadcrumbs li:first-child {
  padding-left: 0;
}

.breadcrumbs li:last-child {
  padding-left: 46px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: 17px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  box-shadow:  0 0 0 1px #5e5d5c;
  transform: rotate(45deg);
}

.breadcrumbs li:first-child::after {
  display: none;
}

.breadcrumbs li:last-child::after {
  top: 7px;
  left: 20px;
}

.active a{
  color: #aba9a7;
}

.producers {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.producers fieldset {
  border: none;
  padding: 0;
}

.producers legend {
  font-size: 24px;
  line-height: 30px;
  margin-left: -2px;
  margin-bottom: 26px;
}

.producers ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.producers li {
  margin-bottom: 13px;
}

.producers .btn {
  padding-right: 25px;
}

.producers .btn:focus {
  outline: none;
}

.company-selector .shop-checkbox {
  position: relative;
  padding-left: 41px;
  cursor: pointer;
}

.company-selector {
  margin-bottom: 34px;
}

.company-selector input[type="checkbox"] {
  display: none;
}

.company-selector .shop-checkbox:hover {
  color: #663d15;
}

.shop-checkbox input[type=checkbox] + .shop-indicator {
  position: absolute;
  top: -1px;
  left: -2px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
}

.shop-checkbox input[type=checkbox]:checked + .shop-indicator::before,
.shop-checkbox input[type=checkbox]:checked + .shop-indicator::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.shop-checkbox input[type=checkbox]:checked + .shop-indicator::before {
  transform: rotate(45deg);
}

.shop-checkbox input[type=checkbox]:checked + .shop-indicator::after {
  transform: rotate(-45deg);
}

.product-groups {
  margin-bottom: 32px;
}

.product-groups legend {
  margin-bottom: 28px;
}

.product-groups input[type="radio"] {
  display: none;
}

.product-groups li {
  margin-bottom: 18px;
  line-height: 19px;
}

.product-groups li:hover {
  color: #663d15;
}

.product-groups label {
  position: relative;
  display: block;
  padding-left: 41px;
  cursor: pointer;
}

.product-groups label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -1px;
  left: -2px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.product-groups input:checked ~ label::before {
  background-color: #000000;
  box-shadow: inset 0 0 0 4px #ffffff;
}

.cards {
  float: left;
  width: 700px;
  font-size: 0;
  margin-top: 6px;
}

.product {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-left: 0px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: -1px -1px 30px -11px #000101;
}

.product p {
  margin-top: 1px;
  margin-left: 1px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: none;
}

.product span {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.product a {
  text-decoration: none;
}

.price-and-btn {
  font-size: 14px;
  width: 187px;
  margin: 0 auto;
  margin-top: -1px;
  margin-bottom: 16px;
  background-color: #e5e5e5;
}

.price-and-btn a{
  display: block;
  float: right;
  width: 42px;
  padding: 9px 17px 10px 19px;
  color: #ffffff;
  text-decoration: none;
  background: #000000;
}

.price-and-btn a:hover {
  background-color: #663d15;
}

.price-and-btn span {
  float: left;
  width: 106px;
  padding-top: 12px;
  padding-left: 3px;
  padding-bottom: 13px;
  text-align: center;
}

article:nth-child(3n+3){
  margin-right: 0;
}

article:nth-child(-n+3){
  margin-bottom: 20px;
}

article:nth-child(n+4){
  margin-bottom: 45px;
}

.pages-of-shop {
  min-width: 193px;
}

.pagination {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  padding: 12px 0px 13px 0px;
  margin-right: 7px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  text-decoration: none;
}

.pagination:hover,
.pagination:active {
  background-color: #663d15;
}

.active-page {
  color: #000000;
  background-color: #ffffff;
}

.active-page:hover {
  color: #000000;
  background-color: #ffffff;
}

.shop-footer {
  margin-top: 49px;
  padding-top: 56px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/back-footer.jpg");
}

/*Далее только третья страница catalog-item.html*/

.catalog-header {
  margin-bottom: 50px;
  color: #ffffff;
  background-color: #000000;
}

.catalog-header .main-navigation a{
  padding: 33px 20px 27px 20px;
}

.catalog-header .login {
  padding-bottom: 27px;
}

.catalog-header .logo a{
  padding: 31px 20px 21px 20px;
}

.catalog-header .active-navigation::after {
    bottom: 0;
}

.catalog-breadcrumbs {
  margin-bottom: 51px;
}

.catalog-breadcrumbs h2 {
  margin-left: 1px;
}

.catalog-breadcrumbs li:nth-child(2) {
  margin-right: 5px;
}

.breadcrumbs li:nth-child(3)::after {
  top: 7px;
  left: 15px;
}

.breadcrumbs li:last-child::after {
  top: 7px;
  left: 20px;
}

.column-left {
  float: left;
  width: 461px;
}

.column-left img:first-child {
  margin-bottom: 14px;
}

.baxter-photo {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
  box-shadow: -1px -1px 30px -11px #000101;
}

.baxter-photo:nth-child(3) {
  margin-right: 17px;
}

.baxter-photo:last-child {
  margin-right: 0;
}

.column-right {
  float: right;
  width: 390px;
  padding-top: 5px;
}

.article {
  float: right;
  width: 140px;
  text-align: right;
  padding-right: 13px;
  color: #aeaeae;
}

.column-right header {
  margin-bottom: 29px;
}

.column-right .price-and-btn {
  float: left;
  width: 187px;
  margin-top: 22px;
  margin-bottom: 38px;
}

.column-right .price-and-btn span {
  padding-top: 9px;
  padding-bottom: 10px;
}

.baxter-description {
  float: left;
  width: 390px;
}

.baxter-description p {
  margin-left: 0;
  font-size: 24px;
  line-height: 30px;
}

.baxter-description ul {
  margin: 0;
  padding: 0;
  margin-top: 27px;
}

.baxter-description li {
  position: relative;
  padding-left: 21px;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

.baxter-description li::after {
  content: "";
  position: absolute;
  display: block;
  top: 9px;
  left: 3px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  box-shadow:  0 0 0 1px #5e5d5c;
  transform: rotate(45deg);
}

.catalog-footer {
  margin-top: 56px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/*Всплывающая форма*/

.modal-content {
  display: none;
  position: absolute;
  top: 128px;
  left: 50%;
  width: 300px;
  margin-left: -230px;
  padding: 45px 80px 48px 80px;
  color: #000000;
  background: #f8f3f0 url("img/back-main.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 8px;
  right: -36px;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -1px;
  width: 25px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content-close:focus {
  outline: none;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 2px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-left: 2px;
  margin-bottom: 12px;
}

.modal-content .login-form {
  margin-top: 0;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 241px;
  margin: 0;
  margin-bottom: 10px;
  padding: 7px 15px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}


.login-form input[type="password"] {
  margin-bottom: 13px;
}

.login-form input:focus {
  border-color: #663d15;
  outline: none;
}

.login-form input.icon-user {
  background-image: url("../img/icon-user.png");
  background-repeat: no-repeat;
  background-position: 268px 13px;
}

.login-form input.icon-password {
  background-image: url("../img/icon-locked.png");
  background-repeat: no-repeat;
  background-position: 268px 9px;
}

.login-form .restore {
  float: right;
  min-width: 95px;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  padding-left: 25px;
  padding-top: 9px;
  margin-top: 15px;
}

.login-form .btn {
  outline: none;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  width: 17px;
  height: 16px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

/*Карта*/

.modal-content-map {
  display: none;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -390px;
  width: 766px;
  height: 561px;
  background: #e9e5dc url("../img/map.jpg") no-repeat center;
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-map-show {
  display: block;
}

.modal-map-close {
  position: absolute;
  top: 8px;
  right: -36px;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-map-close::before,
.modal-map-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -1px;
  width: 25px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-map-close::before {
  transform: rotate(45deg);
}

.modal-map-close::after {
  transform: rotate(-45deg);
}

.modal-map-close:focus {
  outline: none;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-overlay-show {
  display: block;
}

/**{outline: 1px solid green;}*/
